input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select{
    width: 400px;
    padding:6px 12px;
    display: block;
    background-color: #ccc;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label{
    display: flex;
    margin-bottom: 5px;
    font-weight: 800;
}
input+ label{
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
}