.productList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-column-gap: 5rem;
    row-gap: 5rem;
    max-width: 1170px;
    width: 90 vw;
}
.product{
    border-radius:5px;
    display: flex;
    border-radius: 5px;

}